body {
    background-color: rgb(243, 228, 228);
    font-size: 20px;
}

h1 { color: cornflowerblue;
}
h2 {color: cornflowerblue;
}
.red_color{
  color: red;  
}
table {
    border: 1px solid black;
}
th,td {
    border: 1px solid black;
    padding: 3px;
}